body {
  overflow-x: hidden;
  margin-bottom: 2rem; /* Add a bottom margin to create space for the footer */
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

 
}


.gradient-container {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, #04041f, #222231);
  position: absolute;  
  top: 125%; /* Position it below the app-container */
  left: 0;
}

.gradient-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.rutba-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/MatchBackground.webp"), linear-gradient(to bottom, #535363, #000000);
  background-blend-mode: soft-light; /* Adjust the blending mode as per your preference */
  background-size: cover;
  background-position: center;
  position: absolute;  
  top: 200%; /* Position it below the app-container */
  left: 0;
}


.rutba-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.fourth-container {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, #04041f, #090911), linear-gradient(to bottom, #000000, #06061b, #000000);
  position: absolute;  
  top: 300%; /* Position it below the app-container */
  left: 0;
}

.fourth-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}


.fifth-container {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/TeamBackground2.webp"), linear-gradient(to bottom, rgba(9, 9, 17, 0.8), rgba(4, 4, 31, 0.8)), linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(6, 6, 27, 1));
  background-blend-mode: soft-light; /* Adjust the blending mode as per your preference */
  background-size: cover;
  background-position: center;
  position: absolute;  
  top: 450%; /* Position it below the app-container */
  left: 0;
}


.fifth-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}


.sixth-container {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/MatchScheduleBackground.webp"), linear-gradient(to bottom, rgba(9, 9, 17, 0.8), rgba(4, 4, 31, 0.8)), linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(6, 6, 27, 0.2));
  background-blend-mode: soft-light; /* Adjust the blending mode as per your preference */
  background-size: cover;
  background-position: center;
  position: absolute;  
  top: 600%; /* Position it below the app-container */
  left: 0;
}


.sixth-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.seventh-container {
  width: 100%;
  height: 210vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, #04041f, #000000);
  position: absolute;  
  top: 723%; /* Position it below the app-container */
  left: 0;
}

.seventh-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}


.eigth-container {
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/TeamBackground1.webp"), linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 8, 0.8)), linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  background-blend-mode: soft-light; /* Adjust the blending mode as per your preference */
  background-size: cover;
  background-position: center;
  position: absolute;  
  top: 933%; /* Position it below the app-container */
  left: 0;
}


.eigth-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}


.ninth-container {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/ConnectedBackground.webp");
  background-blend-mode: soft-light; /* Adjust the blending mode as per your preference */
  background-size: cover;
  background-position: center;
  position: absolute;  
  top: 1040%; /* Position it below the app-container */
  left: 0;
}


.ninth-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 165vh; /* Increase the height as needed */
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-y: hidden;
  background-image: url("./assets/HomeBackground.webp"), linear-gradient(to bottom, #37377a, #000000);
  background-blend-mode: soft-light; /* Adjust the blending mode as per your preference */
  background-size: cover;
  background-position: center;
  border: none;
}

.app-bar-container {
  position: relative;
  top: 0;
  border: none;
}

.experience-text {
  position: absolute;
  width: 907px;
  height: 173px;
  left: calc(50% - 907px / 2 - 43.5px);
  font-family: "Neo Robotix";
  font-style: italic;
  font-weight: 400;
  font-size: 160px;
  line-height: 173px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.065em;
  color: #ffffff;
  top: 200px;
}

.thrill-text {
  position: absolute;
  width: 485px;
  height: 173px;
  left: calc(50% - 485px / 2 + 259.5px);
  font-family: "Neo Robotix";
  font-style: italic;
  font-weight: 400;
  font-size: 160px;
  line-height: 173px;
  /* identical to box height */
  letter-spacing: 0.02em;
  /* Gradient */
  color: #3583fe;
  top: 350px;
}

.the-text {
  position: absolute;
  width: 258px;
  height: 173px;
  left: calc(50% - 258px / 2 - 352px);
  top: 350px;

  font-family: "Neo Robotix";
  font-style: italic;
  font-weight: 400;
  font-size: 160px;
  line-height: 173px;
  /* identical to box height */
  /* Gradient */
  color: #3583fe;
}

.victory-text {
  position: absolute;
  width: 314px;
  height: 43px;
  left: calc(50% - 100px / 2 + 334px);
  top: 600px;
  font-family: "Neo Robotix";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.34em;
  color: #ffffff;
  backdrop-filter: blur(2px);
}

.text{
  position: absolute;
width: 419px;
height: 42px;
left: 830px;
top: 680px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
}

.button{
position: absolute;
width: 419px;
height: 42px;
left: 830px;
top: 740px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@font-face {
  font-family: "Neo Robotix";
  src: url("./fonts/neo-robotix.woff2") format("woff2"),
    url("./fonts/Neo-Robotix-Italic.ttf") format("truetype"),
    url("./fonts/Neo-Robotix-Italic.ttf") format("truetype");
  /* Add additional formats if necessary */
  /* Specify the correct paths to your font files */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-image {
  animation: slide 4s infinite;
  position: absolute;
  left: calc(50% - 450px);
  top: 400px;
}

.image {
  position: absolute;
  width: 295.48px;
  height: 295.48px;
  left: calc(50% - 660px);
  top: 450px; /* Adjust the value as needed to position the image below "THE" */
  background: url("./assets/HomeKnife.webp");
  border: none;
}

.knife-image {
  position: absolute;
  width: 295.48px;
  height: 295.48px;
  left: calc(50% - 700px);
  top: 380px; /* Adjust the value as needed to position the image below "THE" */
  background: url("./assets/WeekBestVector1.svg");
  border: none;
  outline: none;
}

.star-image {
  position: absolute;
  width: 295.48px;
  height: 295.48px;
  right: calc(50% - 700px);
  top: 580px; /* Adjust the value as needed to position the image below "THE" */
  background: url("./assets/WeekBestVector2.webp");
  border: none;
  outline: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}